# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Debug logs
debug.log

# Environment variable files
.env

# IDE settings
.vscode/

# npm
*.npm
*.lock
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv
.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# pnpm
pnpm-lock.yaml
package-lock.json
.vercel
